/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 7, 2020, 3:51:28 PM
    Author     : ADMIN
*/

.auth-form {
	margin: auto;
	margin-top: 60px;
	width: 400px;
	height: auto;
	box-shadow: 0 0 10px;
	border-radius: 10px;
}

.auth-form-container {
	padding: 0 32px;
}

.auth-form-header {
	display: flex;
	align-items: center;
	justify-content: space-between;	
}

.auth-form-title {
	font-size: 28px;
	color: #222222;
}

.auth-form-subtitle {
	color: #EE4D2D;
	text-decoration: none;
}

.auth-form-subtitle:hover {
	color: red;
}

.auth-form-input {
	width: 92%;
	height: 32px;
	margin-bottom: 24px;
	padding: 0 12px;
	border: 1px solid #bdbdbd;
	border-radius: 3px;
	outline: none;
}

.auth-form-input:focus {
	border-color: #777;
}

.auth-form-controls {
	display: flex;
	justify-content: space-between;
}

.btn {
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	min-width: 160px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 3px;
	background-color: tomato;
	border: none;
	outline: none;
	text-decoration: none;
}

.btn:hover {
	background-color: #FB5533;
}

.auth-form-social {
	background-color: #EFEFEF;
	padding: 12px 15px;
	display: flex;
	justify-content: space-between;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-top: 30px;
}

.btn-social-fb {
	color: #FFFFFF;
	border-radius: 3px;
	background-color: #1877F2;
	padding: 6px 10px;
	text-decoration: none;
}

.btn-social-gg {
	color: #FB5533;
	border-radius: 3px;
	background-color: white;
	padding: 6px 18px;
	text-decoration: none;
}

.btn-social-fb:hover {
	background-color: #4285F4;	
}

.btn-social-gg:hover {
	background-color: rgba(255, 255, 255, 0.7);
}